<p-dialog data-testid="list-edit-dialog" (visibleChange)="changed($event)" [header]="listName" [(visible)]="showDialog" [modal]="true"
    [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">

    <h2 data-testid="list-edit-title">Edit List Name</h2>
    <input data-testid="list-name-input" (keyup.Enter)="saveName()" type="text" pInputText [formControl]="nameControl" />

    <p-button  data-testid="list-name-save-button" label="Save" (onClick)="saveName()" class="mr-2"></p-button>
</p-dialog>